<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="top-banner"></div>
    <a href="/chat">Chat</a>
    <input type="text" list="browsers" />
    <datalist id="browsers">
      <option>Google</option>
      <option>IE9</option>
    </datalist>
  </body>
</html>
