<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <title>Chatbot - Brave Coder</title>
</head>
<body>
    <div class="wrapper">
        <div class="title">Career Companion</div>
        <div class="box">

            <!-- <div class="item">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="msg">
                    <p>Hello everyone, How are you?</p>
                </div>
            </div> -->

            <br clear="both">

            <!-- <div class="item right">
                <div class="msg">
                    <p>Nice</p>
                </div>
            </div> -->

        </div>

        <div class="typing-area">
            <div class="input-field">
                <input id="message" type="text" placeholder="Type your message" required>
                <button>Send</button>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    r = "";
    $(document).ready(function(){
        $('#message').keypress(function(e){
          if(e.keyCode==13)
          $('button').click();
        });
    });
    $("button").click(function(){
        $(".box").append('<br clear="both"><div class="item right"><div class="msg"><p>' + $("#message").val() + '</p></div></div>');
        $(".box").animate({scrollTop: $('.box').prop("scrollHeight")}, 1000);
        $.ajax({
            type:'POST',
            url:'/chat',
            data:{message:$("#message").val()},
            success:function()
            {
              
            }
        })

        $("#message").val("");
    });
    setInterval(function(){
        $.ajax({
          url: "/message",
          type: "GET",
          success: function(response) {
            if(response != r){
                r = response;
                $(".box").append('<br clear="both"><div class="item"><div class="icon"><i class="fa fa-user"></i></div><div class="msg"><p markdown="1">' + r + '</p></div></div>');
                $(".box").animate({scrollTop: $('.box').prop("scrollHeight")}, 1000);
            }
           },
          error: function(xhr) {
              //Handel error
          }
        }); 
    }, 1000);
</script>
</html>